/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.emoji-404 {
    @apply relative animate-[mymove_2.5s_infinite];
}
@keyframes mymove {
33% {
@apply top-0;
}
66% {
@apply top-5;
}
100% {
@apply top-0;
}
}
