.react-select{
    @apply dark:bg-dark-component-bg z-50
}
.react-select__control{
    @apply dark:bg-dark-component-bg dark:border-dark-border-clr z-50
}

.react-select__input{
    @apply dark:!text-gray-300 z-50
}

.react-select__single-value{
    @apply dark:text-gray-300 z-50
}

.react-select__menu{
    @apply dark:bg-dark-component-bg dark:border-[1px] dark:border-dark-border-clr rounded-md z-50
}

.react-select__menu-list{
    @apply  dark:bg-dark-component-bg rounded-md flex flex-col gap-1 z-50
}

.react-select__option{
    @apply hover:dark:bg-dark-hover-blue-clr dark:text-gray-300 rounded-sm z-50
}

.react-select__option--is-focused{
    @apply dark:!bg-dark-component-second-bg z-50
}

.react-select__option--is-selected{
    @apply dark:!bg-accent-dark z-50
}

