/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.build-profile-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/Hexagon.svg");
}
