.dd-content{
 @apply min-w-[220px] bg-white dark:bg-dark-component-bg dark:border-dark-border-clr h-fit rounded-md p-[5px] drop-shadow-xl border-2 border-[#dfdfdf] will-change-[opacity,transform] data-[side=top]:animate-slideDownAndFade data-[side=right]:animate-slideLeftAndFade data-[side=bottom]:animate-slideUpAndFade data-[side=left]:animate-slideRightAndFade flex flex-col gap-1 z-50
}

.dd-separator{
 @apply h-[1px] bg-border-clr dark:bg-dark-border-clr m-[5px]
}

.dd-item{
 @apply min-h-[30px] cursor-pointer p-2 py-3 rounded-md  flex gap-2 items-center relative  select-none outline-none data-[disabled]:text-dark-text data-[disabled]:pointer-events-none data-[highlighted]:bg-hover-blue-clr data-[highlighted]:text-accent leading-none text-sm dark:text-gray-300 hover:dark:bg-dark-hover-blue-clr
}

.dd-danger-item{
 @apply dd-item data-[highlighted]:!bg-red-600 dark:data-[highlighted]:bg-red-300
}

.dd-warning-item{
 @apply dd-item data-[highlighted]:text-orange-900 data-[highlighted]:bg-orange-100
}

.dd-green-item{
 @apply dd-item data-[highlighted]:text-white data-[highlighted]:bg-[#07bc0c] dark:data-[highlighted]:bg-[#07bc0c]
}