.css-1r83mpf-getRowContainerStyle-Row:nth-of-type(even){
    @apply dark:bg-dark-component-second-bg
}

.css-1r83mpf-getRowContainerStyle-Row:nth-of-type(odd){
    @apply dark:bg-dark-component-bg
}

.css-1r83mpf-getRowContainerStyle-Row.tr.tr-body.row-select.row-select-single-selected, .css-1r83mpf-getRowContainerStyle-Row.tr.tr-body.row-select.row-select-selected{
    @apply dark:bg-dark-hover-blue-clr
}