@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Modulus;
        font-weight: 400;
        src: url('../public/Modulus Pro Medium.otf') format("opentype");
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.image-gallery-thumbnail{
    @apply rounded-md !border-[3px]
}



.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.text-input{
    @apply  w-full bg-white dark:bg-dark-component-bg dark:border-dark-border-clr dark:text-gray-300 h-9 border border-border-clr rounded-md py-2 pl-3  focus:outline-none hover:border-hover-border-clr focus:outline-accent focus:border-none transition-all duration-75 invalid:!outline-red-400 invalid:!border-red-400
}

.smooth-animation{
    @apply transition-all duration-150 ease-in
}

.full-card-schema{
 @apply card-size-schema card-color-schema card-shadow-schema
}

.card-size-schema{
    @apply w-full p-6 flex flex-col gap-3
}

.card-color-schema{
    @apply bg-component-bg rounded-md  dark:border-0 border-[1px] border-border-clr dark:border-dark-border-clr dark:bg-dark-component-bg smooth-animation dark:text-gray-300
}

.card-border-color-schema{
    @apply bg-component-bg rounded-md border-[1px] border-border-clr dark:border-dark-border-clr dark:bg-dark-component-bg smooth-animation
}

.card-shadow-schema{
    @apply dark:shadow-none shadow dark:shadow-gray-800 hover:drop-shadow-lg smooth-animation
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html,body{
    overflow: auto;
    /*overflow-x: hidden;*/
}

body {
    @apply  w-[100dvw] h-[100dvh] smooth-animation;
}

.dark{
    @apply bg-dark-body-bg
}

.light{
    @apply bg-body-bg
}

.base-btn{
  @apply  w-full h-9 bg-transparent flex items-center justify-center rounded-lg py-2 px-4 hover:bg-hover-blue-clr hover:underline transition-all duration-150
}

.underline-animation {
    @apply inline-block relative;
}

.card-header-icon{
    @apply border-[2px] border-border-clr rounded-lg box-content p-3
}


.underline-animation:after {
    @apply content-[""] block h-0.5 absolute w-0 left-2/4 bottom-0;
    background: none repeat scroll 0 0 currentColor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.underline-animation:hover:after {
    @apply w-full left-0;
}

.tag-color{
    @apply hover:bg-[var(--tag-bg-hover)] hover:!border-[var(--tag-border-hover)] text-[var(--tag-text)]
}
