.primary-header{
    @apply text-[#171717] dark:text-gray-300 font-bold text-3xl
}

.header{
    @apply text-[#171717] dark:text-gray-300 font-bold text-2xl
}

.text{
    @apply text-[#171717]  dark:text-gray-300 text-xl
}

.ol{
    list-style: lower-alpha;
    @apply text pl-[24px]
}

.ul{
    list-style: disc;
    @apply text pl-[24px]
}

.li{
    @apply text
}

.ls-alpha{
    list-style: lower-alpha;
}

.ls-roman{
    list-style: lower-roman;
}